<!doctype html>
<html>
  <head>

    <meta charset="utf-8">
    <title>West Bay Clinical Research</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ************************************* -->
    <!-- Load all required CSS for Grove Theme -->
    <!-- ************************************* -->

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="_grove/css/vendor/bootstrap/bootstrap.css">

    <!-- Glyphicons -->
    <link rel="stylesheet" href="_grove/css/vendor/glyphicons/glyphicons.css">

    <!-- Google Webfonts -->
    <link rel="stylesheet" href="_grove/css/vendor/google-fonts.css">

    <!-- LayerSlider styles -->
    <link rel="stylesheet" href="_grove/css/vendor/layerslider/layerslider.css" type="text/css">

    <!-- Grove Styles (switch for different color schemes, e.g. "styles-cleanblue.css") -->
    <link rel="stylesheet" href="_grove/css/styles-blue.css" id="grove-styles">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="_grove/css/ie8.css">        
        <script src="_grove/js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

  </head>

  <!-- Body of Application -->
  
  <body>

    <%= partial(:'layout/header') %>
    <%= yield %>
    <%= partial(:'layout/footer') %>
    
    <!-- ******************************************** -->
    <!-- Load all required JavaScript for Grove Theme -->
    <!-- ******************************************** -->

    <script src="_grove/js/vendor/jquery/jquery-1.9.1.min.js"></script>
    
    <!-- jQuery with jQuery Easing, and jQuery Transit JS -->
    <script src="_grove/js/vendor/layerslider/jquery-easing-1.3.js" type="text/javascript"></script>
    <script src="_grove/js/vendor/layerslider/jquery-transit-modified.js" type="text/javascript"></script>
     
    <!-- LayerSlider from Kreatura Media with Transitions -->
    <script src="_grove/js/vendor/layerslider/layerslider.transitions.js" type="text/javascript"></script>
    <script src="_grove/js/vendor/layerslider/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>

    <!-- Grove Layerslider initiation script -->
    <script src="_grove/js/grove-slider.js" type="text/javascript"></script>
    <script src="_grove/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="_grove/js/vendor/modernizr/modernizr.js"></script>

  </body>
</html>