/*****************/
/* COMMON STYLES */
/*****************/

.bold {
	font-weight: bolder;
}

.center {
	text-align: center;
}

.small-caps {
  font-variant:small-caps;
}

.padding-t10 {
  padding-top: 10px;
}

.padding-t20 {
  padding-top: 20px;
}

.padding-t30 {
  padding-top: 30px;
}

div.links.link-heading {
  font-size: 30px;
  font-variant: small-caps;
}

div.row.row-padding {
  padding-top:    20px;
  padding-bottom: 20px;
}

/***************/
/* Page: INDEX */
/***************/

.container.content {	
  padding-top: 15px;
  padding-bottom: 15px;
}

div.pagetitle {
	padding: 5px;
}

div.pagetitle h1 {
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  font-variant:small-caps;
  float: none;
}

.showroom-item {
  margin-bottom: 0px;
}

.cta-div {
    padding: 10% 0;
}