
<!-- Titlebar  -->
<div class="widewrapper pagetitle">
	<div class="container">
		<h1 class="center">Committed to the Advancement of New Medical Therapies</h1>
	</div>
</div>

<!-- Call to Action -->
<div class="widewrapper weak-highlight">
	
	<div class="container content vert-padding">
		
		<div class="row">
			
			<div class="col-sm-6">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
			  <center>
			  	<div class="btn-group cta-div">
	          <a href="#" class="btn btn-grove-one btn-bold">Learn About Our Trials</a>
	       	</div>
	      </center>
			</div>

			<div class="col-sm-6">
				
				<div class="hidden-xs">
        	<div id="layerslider" style="width: 500px; height: 250px; margin: 0px auto 0px 40px; visibility: visible;" class="ls-container ls-grove">
        		<div class="ls-webkit-hack"></div>
            <div class="ls-inner" style="background-color: transparent; width: 500px; height: 250px;"><div class="ls-layer ls-active" style="widt500250px; height: 250px; visibility: visible; display: block;">
                <img class="ls-bg" src="_grove/img/slides/bg-five.jpg" alt="Slider Background" style="padding: 0px; border-width: 0px; width: 1885px; height: 383px; margin-left: -942.5px; margin-top: -191.5px;">

                <img class="ls-s-1" src="_grove/img/slides/imac.png" alt="iMac" style="top: 14.14102564102564px; left: 612.7777777777777px; width: 462.882905982906px; height: 353.525641025641px; padding: 0px; border-width: 0px;">

                <div class="ls-s-1 large-caption" style="top: 113.12820512820512px; left: 18.854700854700855px; width: auto; height: auto; font-size: 32.05299145299145px; padding: 0px; border-width: 0px;">
                    <div><p>Introducing Grove:</p></div>
                    <div><p>A clean, responsive and flexible</p></div>
                    <div>
                        <p>business theme.</p>
                    </div>
                </div>
            </div><div class="ls-layer" style="width: 500px; height: 250px;">
                <img class="ls-bg" src="_grove/img/slides/bg-one.jpg" alt="Slider Background">

                <img class="ls-s-1" src="_grove/img/slides/fam_imac.png" alt="iMac" style="top:50px; left:50px; durationin : 1250; durationout : 1250; delayin : 0;">
                <img class="ls-s-1" src="_grove/img/slides/fam_macbook.png" alt="MacBook" style="top:190px; left:250px; durationin : 1250; durationout : 1250; delayin : 100;">
                <img class="ls-s-1" src="_grove/img/slides/fam_ipad.png" alt="iPad" style="top:210px; left:0px; durationin : 1250; durationout : 1250; delayin : 200;">
                <img class="ls-s-1" src="_grove/img/slides/fam_iphone.png" alt="iPhone" style="top:265px; left:160px; durationin : 1250; durationout : 1250; delayin : 300;">

                <div class="ls-s-1 large-caption" style="top:130px; left:700px; delayin : 700; slidedirection : fade; slideoutdirection : fade;">
                    <div><p>Layerslider:</p></div>
                    <div><p>Highly configurable,</p></div>
                    <div><p>fexible, responsive and fast</p></div>
                </div>

            </div><div class="ls-layer" style="width: 500px; height: 250px;">
                <img class="ls-bg" src="_grove/img/slides/bg-three.jpg" alt="Slider Background">

                <img class="ls-s-1" src="_grove/img/slides/macbook-air.png" alt="MB Air" style="top:25px; left:50px; durationin : 1250; durationout : 1250;">

                <div class="ls-s-1 large-caption" style="top:150px; left:750px; delayin : 750; slidedirection : fade; slideoutdirection : fade;">
                    <div><p>Impress your visitors,</p></div>
                    <div><p>and turn them into clients!</p></div>
                </div>
            </div></div>
             
        		<div class="ls-loading-container" style="z-index: -1; display: none;"><div class="ls-loading-indicator"></div>

        	</div><a class="ls-nav-prev" href="#" style="visibility: visible; display: block;"></a><a class="ls-nav-next" href="#" style="visibility: visible; display: block;"></a><div class="ls-shadow"></div></div>

    		</div>

		</div>

	</div>
</div>

<!-- Site Links -->
<div class="widewrapper strong-highlight">
  <div class="container content">

    <div class="row">
      
      <div class="showroom-item col-sm-3">
        <div class="image">
          <img src="http://placekitten.com/250/150" class="img-responsive" alt="Our Trials">
          <a class="overlay" href="#">
            <i class="glyphicons search"><i></i></i>
            <div class="name">Our Trials</div>
          </a>
        </div>
      </div>

      <div class="showroom-item col-sm-3">
        <div class="image">
          <img src="http://placekitten.com/250/150" class="img-responsive" alt="Portfolio Image">
          <a class="overlay" href="#">
            <i class="glyphicons search"><i></i></i>
            <div class="name">Our Blog</div>
          </a>
        </div>
      </div>

      <div class="showroom-item col-sm-3">
        <div class="image">
          <img src="http://placekitten.com/250/150" class="img-responsive" alt="Portfolio Image">
          <a class="overlay" href="#">
            <i class="glyphicons search"><i></i></i>
            <div class="name">About Us</div>
          </a>
        </div>
      </div>

      <div class="showroom-item col-sm-3">
        <div class="image">
          <img src="http://placekitten.com/250/150" class="img-responsive" alt="Portfolio Image">
          <a class="overlay" href="#">
            <i class="glyphicons search"><i></i></i>
            <div class="name">Contact Us</div>
          </a>
        </div>
      </div>
                      
    </div>

    <div class="clearfix"></div>

  </div>
</div>

<!-- Trials -->

<div class="widewrapper weak-highlight">
  <div class="container content">
    
    <div class="row bold center small-caps">
      <h1 style="margin-top: -5px;">
        Our Trials
      </h1>
    </div>

    <div class="row">
      
      <div class="col-sm-3 bold center small-caps">
        <h2>
          <a href="#">Diabetes</a>
        </h2>
      </div>

      <div class="col-sm-3 bold center small-caps">
        <h2>
          <a href="#">High Blood Pressure</a>
        </h2>
      </div>

      <div class="col-sm-3 bold center small-caps">
        <h2>
          <a href="#">Hypertension</a>
        </h2>
      </div>

      <div class="col-sm-3 bold center small-caps">
        <h2>
          <a href="#">Other Diseases</a>
        </h2>
      </div>

  </div>

</div>