<div class="container content">

  <div class="showroom-controls">
    <div class="links link-heading">Meet Our Team</div>
  </div>

  <div class="row row-padding">

      <div class="col-sm-4 team-member">
        <img src="_grove/img/aboutus/man1.jpg" class="img-responsive" alt="Man 1">
        <div class="description">
          <h4 class="center">Sunil Verma</h4>
          <p>
              Bio Writeup ==> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. 
          </p>

          <div class="center social">
            <a href="#" class="glyphicons google_plus"><i></i></a>
            <a href="#" class="glyphicons twitter"><i></i></a>
            <a href="#" class="glyphicons linked_in"><i></i></a>
            <a href="#" class="glyphicons e-mail"><i></i></a>
          </div>

        </div>
      </div>

      <div class="col-sm-4 team-member">
        <img src="_grove/img/aboutus/man1.jpg" class="img-responsive" alt="Man 1">
        <div class="description">
          <h4 class="center">Arina Ribiero</h4>
          <p>
              Bio Writeup ==> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. 
          </p>

          <div class="center social">
            <a href="#" class="glyphicons google_plus"><i></i></a>
            <a href="#" class="glyphicons twitter"><i></i></a>
            <a href="#" class="glyphicons linked_in"><i></i></a>
            <a href="#" class="glyphicons e-mail"><i></i></a>
          </div>

        </div>
      </div>

      <div class="col-sm-4 team-member">
        <img src="_grove/img/aboutus/man1.jpg" class="img-responsive" alt="Man 1">
        <div class="description">
          <h4 class="center">Sabina Verma</h4>
          <p>
              Bio Writeup ==> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. 
          </p>

          <div class="center social">
            <a href="#" class="glyphicons google_plus"><i></i></a>
            <a href="#" class="glyphicons twitter"><i></i></a>
            <a href="#" class="glyphicons linked_in"><i></i></a>
            <a href="#" class="glyphicons e-mail"><i></i></a>
          </div>

        </div>

      </div>
  </div>

</div>