<footer class="widewrapper footer">
      
  <div class="container">
    <div class="row footer">

      <div class="col-sm-3 col-sm-offset-1">
        <h3 class="bold small-caps">
          Latest Blog Posts
        </h3>
        <ul class="grove-list">
          <li><a href="#">Latest Blog Scrape[1]</a></li>
          <li><a href="#">Latest Blog Scrape[2]</a></li>
          <li><a href="#">Latest Blog Scrape[3]</a></li>
          <li><a href="#">Latest Blog Scrape[4]</a></li>
        </ul>
      </div> 

      <div class="col-sm-4 padding-t30">
        <h3 class="bold center small-caps">
          Sign Up for Our Newsletter
        </h3>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Sign Up!</button>
          </span>
        </div>
      </div>

      <div class="col-sm-4">
        <h3 class="bold center small-caps">
          Connect With Us
        </h3>
        <div class="bold center padding-t10">
          <a href="#" class="glyphicons envelope"><i></i></a>
          <a href="#" class="glyphicons google_plus"><i></i></a>
          <a href="#" class="glyphicons facebook"><i></i></a>
          <a href="#" class="glyphicons twitter"><i></i></a>
          <a href="#" class="glyphicons linked_in"><i></i></a>
        </div>
        <div>
          <h3 class="bold center padding-t30">401-691-3311</h3>
        </div>
      </div>     

    </div>
  </div>

  <div class="container">
    <div class="copyright bold center">
        <p>West Bay Clinical Research, 2013 All Rights Reserved.</p>
    </div>
  </div>

</footer>