<header>

  <nav class="navbar navbar-default grove-navbar" role="navigation">
    <div class="container">
      
      <div class="navbar-header">
        <a href="#" class="grove-toggle" data-toggle="collapse" data-target=".grove-nav">
          <i class="glyphicons show_lines"><i></i>
          </i>
        </a>
        <a href="/" class="navbar-brand">
          <img class="header-logo" src="img/wbcr_logo.png" alt="West Bay Clinical Research">
        </a>
      </div>

      <!-- Need jQuery to figure out which menu item is active. -->
      <!-- Insert Sinatra link_to helper tags for webpages. -->

      <div class="collapse navbar-collapse grove-nav">
          <ul class="nav navbar-nav">
            
            <li class="active">
              <a href="/">Home</a>
            </li>
            
            <li class="dropdown">
              <a href="#" data-toggle="dropdown">Learn More<b class="caret"></b></a>
              <ul class = "dropdown-menu">
                <li><a href ="#">Team</a></li>
                <li><a href ="#">Facilities</a></li>
                <li><a href ="#">Services</a></li>
              </ul>
            </li>

            <li>
              <a href="#">Blog</a>
            </li>                        

            <li class="dropdown">
              <a href="#" data-toggle="dropdown">Trials<b class="caret"></b></a>
              <ul class = "dropdown-menu">
                <li><a href ="#">Current</a></li>
                <li><a href ="#">Previous</a></li>
                <li><a href ="#">Sponsors</a></li>
                <li><a href ="#">Participants</a></li>
              </ul>
            </li>

            <li>
              <a href="#">Contact Us</a>
            </li>

            <li>
              <a href="#">FAQ</a>
            </li>     

          </ul>        
      </div>

    </div>
  </nav>

</header>