<div class="hidden-xs">
  <div id="layerslider" style="width: 100%; height: 405px; margin: 0px auto; ">
      <div class="ls-layer" style="transition2d:5;">
          <img class="ls-bg" src="_grove/img/slides/bg-five.jpg" alt="Slider Background">

          <img  class="ls-s-1" src="_grove/img/slides/imac.png" alt="iMac" 
                style="top:15px; left:650px; durationin : 1250; durationout : 1250;">

          <div class="ls-s-1 large-caption" 
               style="top:120px; left:20px; delayin : 750; slidedirection : fade; slideoutdirection : fade;">
              <div><p>Introducing Grove:</p></div>
              <div><p>A clean, responsive and flexible</p></div>
              <div>
                  <p>business theme.</p>
              </div>
          </div>
      </div>

      <div class="ls-layer" style="transition2d:5;">
          <img class="ls-bg" src="_grove/img/slides/bg-one.jpg" alt="Slider Background">

          <img  class="ls-s-1" src="_grove/img/slides/fam_imac.png" alt="iMac" 
                style="top:50px; left:50px; durationin : 1250; durationout : 1250; delayin : 0;">
          <img  class="ls-s-1" src="_grove/img/slides/fam_macbook.png" alt="MacBook" 
                style="top:190px; left:250px; durationin : 1250; durationout : 1250; delayin : 100;">
          <img  class="ls-s-1" src="_grove/img/slides/fam_ipad.png" alt="iPad" 
                style="top:210px; left:0px; durationin : 1250; durationout : 1250; delayin : 200;">
          <img  class="ls-s-1" src="_grove/img/slides/fam_iphone.png" alt="iPhone" 
                style="top:265px; left:160px; durationin : 1250; durationout : 1250; delayin : 300;">

          <div class="ls-s-1 large-caption" 
               style="top:130px; left:700px; delayin : 700; slidedirection : fade; slideoutdirection : fade;">
              <div><p>Layerslider:</p></div>
              <div><p>Highly configurable,</p></div>
              <div><p>fexible, responsive and fast</p></div>
          </div>

      </div>   

       <div class="ls-layer" style="transition2d:5;">
          <img class="ls-bg" src="_grove/img/slides/bg-three.jpg" alt="Slider Background">

          <img  class="ls-s-1" src="_grove/img/slides/macbook-air.png" alt="MB Air" 
                style="top:25px; left:50px; durationin : 1250; durationout : 1250;">

          <div class="ls-s-1 large-caption" 
               style="top:150px; left:750px; delayin : 750; slidedirection : fade; slideoutdirection : fade;">
              <div><p>Impress your visitors,</p></div>
              <div><p>and turn them into clients!</p></div>
          </div>
      </div>
  </div>
</div>

<!--LayerSlider end-->

<!-- Layerslider substitute on x-small devices -->
<div class="widewrapper pagetitle visible-xs">
  <div class="container">
      <h1>Welcome to Grove!</h1>        
  </div>
</div> 

<div class="widewrapper">
  <div class="container">
      <div class="row features">
          <div class="col-md-4 feature">
              <h3><a class="glyphicons tint"><i></i></a>Responsive Layout</h3>
              <p>Adalah menjadi satu fakta bahawa pembaca akan ter ganggu oleh text yang boleh difahami apabila meli hi at susunan mukasurat. Kegunaan.</p>
          </div>
          <div class="col-md-4 feature">
              <h3><i class="glyphicons fire"><i></i></i>Exquisite Design</h3>
              <p>Adalah menjadi satu fakta bahawa pembaca akan ter ganggu oleh text yang boleh difahami apabila meli hi at susunan mukasurat. Kegunaan.</p>
          </div>
          <div class="col-md-4 feature">
              <h3><i class="glyphicons cloud"><i></i></i>Clean Code</h3>
              <p>Adalah menjadi satu fakta bahawa pembaca akan ter ganggu oleh text yang boleh difahami apabila meli hi at susunan mukasurat. Kegunaan.</p>
          </div>        
      </div>
  </div>
</div>

<div class="widewrapper weak-highlight">
  <div class="container content">
      <div class="showroom-controls">
          <div class="links">Recent Work <i class="verticalSeparator"></i> <a href="portfolio.html">All Work</a></div>
      </div>
      <div class="row">
          <div class="showroom-item col-sm-3">
              <div class="image">
                  <img src="_grove/img/portfolio/port-server.png" class="img-responsive" alt="Portfolio Image">
                  <a class="overlay" href="portfolio-inner.html">
                       <i class="glyphicons search"><i></i></i>
                       <div class="name">Server Security</div>
                  </a>
              </div>
          </div>
          <div class="showroom-item col-sm-3">
              <div class="image">
                  
                  <img src="_grove/img/portfolio/port-code.png" class="img-responsive" alt="Portfolio Image">
                  <a class="overlay" href="portfolio-inner.html">
                       <i class="glyphicons search"><i></i></i>
                       <div class="name">Code Review</div>
                  </a>
              </div>
          </div>
          <div class="showroom-item col-sm-3">
              <div class="image">
                  <img src="_grove/img/portfolio/port-storage.png" class="img-responsive" alt="Portfolio Image">
                   <a class="overlay" href="portfolio-inner.html">
                       <i class="glyphicons search"><i></i></i>
                       <div class="name">Storage Consulting</div>
                   </a>
              </div>
          </div>                
          <div class="showroom-item col-sm-3">
              <div class="image">
                  <img src="_grove/img/portfolio/port-car.png" class="img-responsive" alt="Portfolio Image">  
                   <a class="overlay" href="portfolio-inner.html">
                       <i class="glyphicons search"><i></i></i>
                       <div class="name">Blue Car</div>                         
                   </a>
              </div>
          </div>                        
      </div>

      <div class="clearfix"></div>
  </div>
</div>

<div class="widewrapper">
  <div class="container content">
      <div class="row">
          <div class="col-sm-9">
              <div class="showroom-controls">
                  <div class="links">Recent Blog Posts <i class="verticalSeparator"></i> <a href="blog.html">All Blog Posts</a></div>
              </div>
              <div class="row">
                  <div class="showroom-item blog-item col-sm-4">
                      <div class="image">
                          <img src="_grove/img/blog/blog-map.png"  class="img-responsive" alt="Blog Thumbnail">
                           <a href ="blog-inner.html" class="overlay">
                               <i class="glyphicons search"><i></i></i>
                           </a>
                      </div>
                      <div class="content">
                          <h3><a href="blog-inner.html">The Merits of Google Maps</a></h3>
                          <span class="meta">Posted by Admin on 1.1.2013</span>
                          <span class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae consequuntur blanditiis fuga eveniet? Aperiam, beatae, recusandae.
                          </span>
                          <a class="more" href="blog-inner.html">View more</a>
                      </div>
                  </div>
                  <div class="showroom-item blog-item col-sm-4">
                      <div class="image">
                          <img src="_grove/img/blog/blog-boat.png" class="img-responsive" alt="Blog Thumbnail">
                           <a href ="blog-inner.html" class="overlay">
                               <i class="glyphicons search"><i></i></i>
                           </a>
                      </div>
                      <div class="content">
                          <h3><a href="blog-inner.html">Sailing on Course</a></h3>
                          <span class="meta">Posted by Admin on 1.1.2013</span>
                          <span class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae consequuntur blanditiis fuga eveniet? Aperiam, beatae, recusandae.
                          </span>
                          <a class="more" href="blog-inner.html">View more</a>
                      </div>
                  </div>

                  <div class="showroom-item blog-item col-sm-4">
                      <div class="image">
                          <img src="_grove/img/blog/blog-pad.png" class="img-responsive" alt="Blog Thumbnail">
                           <a href ="index.html" class="overlay">
                               <i class="glyphicons search"><i></i></i>
                           </a>
                      </div>
                      <div class="content">
                          <h3><a href="blog-inner.html">Mouse versus Pen</a></h3>
                          <span class="meta">Posted by Admin on 1.1.2013</span>
                          <span class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae consequuntur blanditiis fuga eveniet? Aperiam, beatae, recusandae.
                          </span>
                          <a class="more" href="blog-inner.html">View more</a>
                      </div>
                  </div>
              </div>
              <div class="clearfix"></div>
          </div>

          <div class="col-sm-3">
              <div class="showroom-controls">
                  <div class="links">Testimonials</div>
                  <div class="controls">
                      <a class="left" href="#testimonials-carousel" data-slide="prev"></a>
                      <a class="right" href="#testimonials-carousel" data-slide="next"></a>
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-12">
                      <div id="testimonials-carousel" class="carousel slide testimonials">
                           <!-- Carousel items -->
                           <div class="carousel-inner">
                              <div class="active item testimonial-item">
                                  <div class="bubble">
                                      "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven."

                                  </div>
                                  <div class="client"><a href="#"> Michael B.</a>, The Creative Group</div>
                              </div>
                              <div class="item testimonial-item">
                                  <div class="bubble">
                                      "Second carousel. Lorem ipsum dolor sit amet, consectetur adipisicing elit, tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven."
                                  </div>
                                  <div class="client"><a href="#"> Alex R.</a>, The Coding Group</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>            
      </div>
  </div>
</div>

<div class="widewrapper weak-highlight">
  <div class="container content our-clients">
      <div class="showroom-controls">
          <div class="links">Our clients</div>
      </div>
      <div class="clients">
          <div class="client"><img src="_grove/img/logos/logo1.png" class="img-responsive" alt="A Bright Idea"></div>
          <div class="client"><img src="_grove/img/logos/logo2.png" class="img-responsive" alt="U Read"></div>
          <div class="client"><img src="_grove/img/logos/logo3.png" class="img-responsive" alt="Drop"></div>
          <div class="client"><img src="_grove/img/logos/logo4.png" class="img-responsive" alt="Alaska Anchor"></div>
      </div>
  </div>
</div>  

<div class="widewrapper strong-highlight">
  <div class="container calltoaction">
    <span>Buttons sell products! Call your visitors to action with this bold button.</span>
    <a href="https://wrapbootstrap.com/theme/grove-responsive-business-theme-WB09B7SFK" class="btn btn-grove-one btn-xlg btn-bold">Purcharse Grove now!</a>
  </div>
</div>